/* CONTAINER */
.login-container {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.login-title {
  z-index: 3;
}

/* FUNDO */
.login-background {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-image: url("/src/assets/backgrounds/fundo2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.6; /* deixa suave */
}

.login-background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.4); /* overlay light */
}

/* TOGGLE */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

/* CARD */
.login-card {
  position: relative;
  z-index: 2;
  width: 320px;
  padding: 15px;
  border-radius: 20px;

  background: var(--bg-secondary);
  border: 1px solid var(--border);

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

  text-align: center;
}

/* LOGO */
.logo {
  width: 200px;
  margin: 0 auto 25px;
}

/* TEXTO */
.app-name {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.app-name-login {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.app-slogan {
  font-size: 14px;
  color: var(--text-muted);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* INPUT */
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  padding: 12px;
  border-radius: 10px;
  background: var(--bg);
  border: 1px solid var(--border);
}

[data-theme="dark"] .input-group input {
  color: #ffffff; /* roxinho bonito */
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

/* BOTÃO */
.btn {
  margin-top: 10px;
  padding: 12px;
  border-radius: 12px;

  background: var(--accent);
  color: var(--btn); 
  font-weight: bold;

  transition: 0.2s;
}

.btn:hover {
  background: var(--accent-hover);
  transform: scale(1.02);
}

/* ESQUECEU */
.forgot {
  font-size: 12px;
  color: var(--text-muted);
}

[data-theme="dark"] .login-background {
  background-image: none; /* remove imagem */

  background: linear-gradient(
    180deg,
    #0f0f1a 0%,
    #1a1a2e 40%,
    #16213e 100%
  );
}

[data-theme="dark"] .login-background::after {
  background: rgba(0, 0, 0, 0.5); /* overlay escuro */
}

.icon {
  color: #3aa76d; /* verde principal */
  flex-shrink: 0;
}

[data-theme="dark"] .icon {
  color: #6c5ce7; /* roxinho bonito */
}




.theme-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-secondary);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  cursor: pointer;
  transition: 0.2s;
}

.theme-btn:hover {
  transform: scale(1.1);
}















@media (max-width: 768px) {
  .login-background {

    background-image: url("/src/assets/backgrounds/fundo1.png");
  }
}