:root {
  --bg: #f8fff9; /* fundo geral (leve verde claro) */
  --bg-secondary: #ffffff;
  --bg3: #cdf1d3; /* fundo geral (leve verde claro) */

  --text: #1b4332;
  --text-muted: #52796f;

  --primary: #2f9e44;       /* verde */
  --primary-hover: #2b8a3e;
  --primary2: #2f9e44;       /* verde 2 */

  --accent: #ffd43b;        /* amarelo */
  --accent-hover: #fcc419;

  --border: #d3e9d7;

  --btn: #1b4332;
}

[data-theme="dark"] {
  --bg: #0f0f1a;
  --bg-secondary: #1a1a2e;
  --bg3: #0f0f1a; /* fundo geral (leve verde claro) */

  --text: #ffffff;
  --text-muted: #a1a1aa;

  --primary: #22c55e;       /* verde mais vivo no dark */
  --primary-hover: #16a34a;
  --primary2: #ffffff;       /* verde 2 */

  --accent: #ffd43b;        /* mantém amarelo */
  --accent-hover: #fcc419;

  --border: #27272a;

  --btn: #0f0f1a;              /* feito para login */
}


body {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s;
}